<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Choose Cateogry
            <span class="caret"></span>
        </button>
    <ul class="dropdown-menu">
        <li>
            <a data-toggle="modal" href="#addcategory" style="color: blueviolet;">
                    Add New Category
                </a>
        </li>
        <hr style="margin: auto;">
        <li *ngFor="let category of main_cat_list">
            <a data-toggle="modal"  href="#{{id}}" (click)="ParentSelected(category._id)">{{category.category}}</a></li>
    </ul>
</div>
<div class="modal fade " id="addcategory" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
                <h4 class="modal-title">Add New Category</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm" class="box">
                    <input type="text" placeholder="Enter here for new category" formControlName="category" class="form-control no-border no-bg box-shadow-z0 addproductsubcat" />
                    <br/>
                    <br/>
                    <button type="submit" data-dismiss="modal" (click)="addNewCategory()" class="btn btn-primary"> Add </button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- *** code for sub category *** -->
<!-- Modal -->
    <div class="modal fade " id="{{id}}" role="dialog">
        <div class="modal-dialog modal-sm">
   <!--          Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-2x" aria-hidden="true">
                        </i>
                    </button>
                    <h5 class="modal-title">Choose from options to assign category </h5>
                </div>
                <div class="modal-body">
                    <div class="dropdown">  
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose Subcateogry
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let category1 of child_list">
                                <a data-dismiss="modal" (click)="addCategory(id,category1._id)">{{category1.category}}</a>
                            </li>
                        </ul>   
                   </div>
                </div>
             </div>
          </div>
       </div>
