<div class="tl-wrap {{transaction_data['Cr/Dr'] == 'DR' ? 'b-primary' : 'b-success'}}">
    <span class="tl-date text-muted">{{transaction_data["Value_Date"]}}</span>
    <div class=" {{change_color ? 'gray_color':''}}  transactionboxshadow tl-content box-color {{transaction_data['Cr/Dr'] === 'DR' ? 'text-color  w-auto-xs' : 'info block'}}">
        <!-- *** have to add     background-color: #CDC5C5; into this  class transactionbox -->
        <span class="arrow left pull-top {{transaction_data['Cr/Dr'] === 'DR' ? 'b-white' : 'b-info  hidden-left '}}"></span>
        <span *ngIf="transaction_data['Cr/Dr'] !== 'DR'" class="arrow b-info right pull-top visible-left"></span>
        <div class="p-x m-b-sm text-lt" style="display: inline;">
            Transaction Amount: {{transaction_data["Transaction_Amount(INR)"]}} INR ({{transaction_data["Cr/Dr"]}})

            <div class="dropdown dropdownstyles">
                <!--**** assign user directive ****-->
                <changehead *ngIf="transaction_data.Assigned_head_id" [id]="transaction_data._id" [assigned_head_id]="transaction_data.Assigned_head_id" [headlist]="head_array_transaction_list"></changehead>
            </div>

            <!-- **** code for assigning accounts user ****-->
            <div class="dropdown dropdownstyles" *ngIf="transaction_data['Cr/Dr'] == 'DR'">
                <!--**** assign user directive ****-->
                <user [id]="transaction_data._id" [assigned_user]="transaction_data.Assigned_username"></user>
            </div>
            <!-- **** accounts user assign code ends here ****-->
        </div>

        <div class=" b-t b-light p-a">
            Account No : ******{{account_codestring}}<br>
            Details: {{transaction_data["Description"]}} <br> Transaction ID: {{transaction_data['Transaction_ID']}} <br>
            <p *ngIf="transaction_data['ChequeNo'] !=''">Cheque No :{{transaction_data['ChequeNo']}}</p>
            <br>
            
            <!-- **** this code will show if we are assigned to any category or not ****-->
            <category *ngIf="parent_category_array && sub_category_array && transaction_data" [is_processed]="transaction_data.is_processed" [id]="transaction_data._id" [assigned_category_id]="transaction_data.Assigned_category_id" [Cr_Dr]="transaction_data['Cr/Dr']" [parent_category_list]="parent_category_array" [child_category_list]="sub_category_array">
            </category>

            <invoice *ngIf="transaction_data['Cr/Dr'] == 'DR'" [input_id]="transaction_data._id" [input_invoice_no]="transaction_data.invoice_no" [input_file_no]="transaction_data.file_no" [input_invoice_description]="transaction_data.invoice_description" [Input_Transaction_ID]="transaction_data.Transaction_ID" [input_linktodrive]="transaction_data.linktodrive">
            </invoice>
            <!--**** for auto suggest component **** -->
            <div *ngIf="transaction_data.Assigned_category_id == 'not assigned'" style="width: 50%; display: inline;">
                <suggest-option *ngIf="sub_category_array" [input]="transaction_data.Description" [id]="transaction_data._id" [child_category_list]="sub_category_array" [parent_category_list]="parent_category_array"></suggest-option>
            </div>
        </div>
    </div>