<div class="tl-wrap {{transaction_data['Cr/Dr'] == 'DR' ? 'b-primary' : 'b-success'}}">
    <span class="tl-date text-muted">{{transaction_data["Value_Date"]}}</span>
    <div class="transactionboxshadow tl-content box-color {{transaction_data['Cr/Dr'] === 'DR' ? 'text-color  w-auto-xs' : 'info block'}}">
        <span class="arrow left pull-top {{transaction_data['Cr/Dr'] === 'DR' ? 'b-white' : 'b-info  hidden-left '}}"></span>
        <span *ngIf="transaction_data['Cr/Dr'] !== 'DR'" class="arrow b-info right pull-top visible-left"></span>
        <div class="p-x m-b-sm text-lt" style="display: inline;">

            Transaction Amount: {{transaction_data["Transaction_Amount(INR)"]}} INR ({{transaction_data["Cr/Dr"]}})

            <!-- **** code for assigning accounts user ****-->
            <div class="dropdown dropdownstyles" *ngIf="transaction_data['Cr/Dr'] == 'DR'">
                <!--**** assign user directive ****-->
                <user [id]="transaction_data._id" [assigned_user]="transaction_data.Assigned_username"></user>
            </div>
            <!-- **** accounts user assign code ends here ****-->
        </div>

        <div class=" b-t b-light p-a">
            Details: {{transaction_data["Description"]}} <br> Available Balance : {{transaction_data["Available_Balance(INR)"]}} <br>

            <br>
            <!-- ****this code will show if we are assigned to any category or not****-->
            <category [is_processed]="transaction_data.is_processed" [id]="transaction_data._id" [assigned_category]="transaction_data.Assigned_category" [Cr_Dr]="transaction_data['Cr/Dr']">
            </category>
            <invoice *ngIf="transaction_data['Cr/Dr'] == 'DR'" [input_id]="transaction_data._id" [input_invoice_no]="transaction_data.invoice_no" [input_invoice_description]="transaction_data.invoice_description" [Input_Transaction_ID]="transaction_data.Transaction_ID" [input_linktodrive]="transaction_data.linktodrive">
            </invoice>
        </div>
    </div>