<a data-toggle="modal" data-target="#email{{transaction_id}}" href="#email{{transaction_id}}">
   <!-- <span class="glyphicon glyphicon-comment {{havesomecomment? 'color_red_suspense_icon':''}}"></span> -->
   <i class="fa fa-envelope {{emaillistraw.length > 0 ? 'color_red_suspense_icon':''}}" aria-hidden="true"></i>
</a>
<!--**************  Modal for link sharing  *****************-->
<div *ngIf="emaillistraw!=''" class="modal fade bs-example-modal-lg" id="email{{transaction_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
            <h4 class="modal-title" id="myModalLabel">Email</h4>
         </div>
         <div class="modal-body">
            <div class="padding fade-in ng-scope" style="">
               <div class="ng-scope">
                  <!-- header -->
                  <div class="m-b">
                     <a class="btn btn-sm white w-xxs m-r-sm" bs-tooltip="" data-placement="bottom" title="Back to Inbox" data-dismiss="modal">
                     <i class="fa fa-long-arrow-left"></i>
                     </a>
                     <!--                             <div class="btn-group pos-stc m-r-sm">
                        <button class="btn btn-sm white w-xxs w-auto-xs" bs-tooltip="" data-placement="bottom" title="Delete"><i class="fa fa-trash-o"></i></button>
                        </div> -->
                  </div>
                  <div class="p-y">
                     <span *ngFor="let email of emaillistraw">
                        <span  class="btn btn-default">
                           <!-- <span style="float: right;margin-left: 10px;" (click)="removesalaryfile(file)">&nbsp;×</span>  -->
                           <a target="_blank" [routerLink]="['/emailview', email._id]">{{email.subject}}</a>
                        </span>
                        <br/>
                     </span>
                     <!--  <a data-dismiss="modal" [routerLink]="['/emailview', emaillistraw[0]._id]">{{emaillistraw[0].subject}}</a> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--   <div class="modal-footer">
         <button class="btn btn-default" [class.btn-success]= "isCopied2" type="button" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied2 = true">copy</button>s
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div> -->
   </div>
</div>
</div>
