<!-- timeline page head timeline bar -->
<div *ngIf="processingStart">
<div class="progress progress-striped active" style="overflow: visible;height: 10px;margin-bottom: 0px;">
<div class="progress-bar info" style="width: 125%;">  
</div>
</div>
</div>
<div class="white r box-shadow-z0 m-b navbar-md" style="width: 125%;">
    <div class="navbar ng-scope" style="margin-left: 18px;">
        <a data-toggle="collapse" data-target="#navbar-0" class="navbar-item pull-left hidden-md-up">
        </a>
        <div class="navbar-item pull-left ng-binding"  id="pageTitle"><h3>Dashboard</h3></div>
       <div class="nav-item">
           <a class="nav-link margin66" (click)="generate_graph_data()">
           <span class="mar_top_18 hidden-xs-down btn rounded primary _600">Generate</span>
           </a>
        </div>
        <ul class="nav navbar-nav pull-right m-l">
            <li class="nav-item dropdown">
            </li>      
        </ul>
    </div>
</div>

<div *ngIf="processingYearStart" 
class="progress progress-striped active" style="overflow: visible;height: 10px;margin-bottom: 0px;margin-top: -19px;">
<div class="progress-bar info" style="width: 125%;">  
</div>
</div>
<div class="pos-rlt">
    <div class="calender ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty fc fc-ltr fc-unthemed" config="uiConfig.calender" ui-calender="uiConfig.calender">
        <div class="fc-toolbar">
            <div class="fc-left">
                <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left fc-corner-right" (click)="yearMinus()">
                    <span class="fc-icon fc-icon-left-single-arrow" >
                    </span>
                </button>
            </div>
            <div class="fc-right">
                <button type="button" class="fc-next-button fc-button fc-state-default fc-corner-left fc-corner-right" (click)="yearPlus()">
                    <span class="fc-icon fc-icon-right-single-arrow" >
                    </span>
                </button>
            </div>
            <div class="fc-center">
                <!--***** for format use {{ data_month | date :'MMMM y'}} ****-->
                <h2>{{ current_year_header }} - {{ current_year + 1 }}</h2>
            </div>
        </div>
    </div>
</div>

<div>
<!--  <legend>legend</legend> -->
  <div style="display: block" class="barchartdiv col-md-10">
    <canvas baseChart
            [datasets]="charData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>
</div>
<!-- <div> -->
<a ui-sref="app.inbox.compose" class="md-btn md-fab md-fab-bottom-right pos-fix red ng-scope">
<i class="fa fa-plus fa-2x" aria-hidden="true" style="margin-top: 15px;"></i>
</a>
<!-- </div> -->
