<!-- timeline page head timeline bar -->
<div *ngIf="processingStart">
<div class="progress progress-striped active" style="overflow: visible;height: 10px;margin-bottom: 0px;">
<div class="progress-bar info" style="width: 125%;">  
</div>
</div>
</div>
<div class="white r box-shadow-z0 m-b navbar-md" style="width: 125%;">
    <div class="navbar ng-scope" style="margin-left: 18px;">
        <a data-toggle="collapse" data-target="#navbar-0" class="navbar-item pull-left hidden-md-up">
        </a>
        <div class="navbar-item pull-left ng-binding"  id="pageTitle"><h3>Dashboard</h3></div>
       <div class="nav-item">
           <a class="nav-link margin66" (click)="generate_graph_data()">
           <span class="mar_top_18 hidden-xs-down btn rounded primary _600">Generate</span>
           </a>
        </div>
        <ul class="nav navbar-nav pull-right m-l">
            <li class="nav-item dropdown">
            </li>      
        </ul>
    </div>
</div>

<div *ngIf="processingYearStart" 
class="progress progress-striped active" style="overflow: visible;height: 10px;margin-bottom: 0px;margin-top: -19px;">
<div class="progress-bar info" style="width: 125%;">  
</div>
</div>
<div *ngIf="!processingStart && !processingYearStart" class="pos-rlt">
    <div class="calender ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty fc fc-ltr fc-unthemed" config="uiConfig.calender" ui-calender="uiConfig.calender">
        <div class="fc-toolbar">
            <div class="fc-left">
                <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left fc-corner-right" (click)="yearMinus()">
                    <span class="fc-icon fc-icon-left-single-arrow" >
                    </span>
                </button>
            </div>
            <div class="fc-right">
                <button type="button" class="fc-next-button fc-button fc-state-default fc-corner-left fc-corner-right" (click)="yearPlus()">
                    <span class="fc-icon fc-icon-right-single-arrow" >
                    </span>
                </button>
            </div>
            <div class="fc-center">
                <!--***** for format use {{ data_month | date :'MMMM y'}} ****-->
                <h2>{{ current_year_header }} - {{ current_year + 1 }}</h2>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!processingStart && !processingYearStart" >
<!--  <legend>legend</legend> -->
  <div style="display: block" class="barchartdiv col-md-10">
    <canvas baseChart
            [datasets]="charData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addnewgraph">
  Launch demo modal
</button> -->
<a data-toggle="modal" data-target="#addnewgraph" class="md-btn md-fab md-fab-bottom-right pos-fix red ng-scope">
<i class="fa fa-plus fa-2x" aria-hidden="true" style="margin-top: 15px;"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="addnewgraph" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearNewGraphEntry()"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
        <h4 class="modal-title" id="myModalLabel">New Graph</h4>
        <div *ngIf="!!showSucessMessageForNewGraph">
            <br/>
            <div class ="alert alert-success">New Graph Added successfully</div>
        </div>
      </div>
          <div class="modal-body">
                    <div class="dropdown" style="position:inherit;top: 48%;left:38%;">
                      <div *ngIf="!!firstStep">
                        <button class="btn btn-primary dropdown-toggle dropdown-center" type="button" data-toggle="dropdown">
                            Choose Option
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a  (click)="HeadSelected()">Head Graph</a>
                            </li>
                        </ul> 
                        <br/>
                       </div>
                    </div>  

                    <!-- **** this will show all heads ****  -->
                    <div *ngIf="secondStep">
                         <label *ngFor="let headOption of headCompleteList | async" class="label_space md-switch">
                              <h5 class="switchinline">{{headOption.head}}</h5>
                              <input type="checkbox" value="{{headOption._id}}" (change)="pushpophead(headOption._id)" id="{{headOption._id}}"> <i class="blue"></i>
                         </label>
                         <br>
                         <br>
                        <button type="button" class="btn btn-primary next_position"  (click)="processSecondStep()" >Next</button>
                    </div>
                    <div *ngIf="lastStep">
                      <form #graphName="ngForm" (ngSubmit)="insertNewGraph(graphName)">
                      <input type="text" placeholder="Enter Graph Name" name="graphname" class="fntsize-18 form-control no-border no-bg box-shadow-z0 addproductinput" id="graphname" ngModel required/>
                      <br>
                      <br>
                      <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="insertNewGraph(graphName)">Save</button>
                      <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="clearNewGraphEntry()">Cancel</button>
                    </div>
           </div>
        <div *ngIf="!!firstStep" class="modal-footer">
        </div>
    </div>
  </div>
</div>