<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="text-align: center">Upload CSV File</h1>
                <hr>
                <div style="text-align: center;">
                    <form>
                        <input type="file" id="files" name="files[]" style="display: inline;" accept=".csv" required />
                        <button type="submit" (click)="handleFiles($event)" class="md-btn md-raised m-b-sm w-xs indigo">upload</button>
                    </form> 
                </div>
                <br>
                <div *ngIf="messageshow" class = "alert alert-success">{{successmessage}}</div>
                <br>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Transaction Id</th>
                        <th>Value date</th>
                        <th>Txn Posted Date</th>
                        <th>ChequeNo</th>
                        <th>Description</th>
                        <th>Transaction Amount</th>
                        <th>Available Balance</th>
                    </tr>
                    <tr *ngFor="let data of csvdata">
                        <td>{{data.No}}</td>
                        <td>{{data.Transaction_ID}}</td>
                        <td>{{data.Value_Date}}</td>
                        <td>{{data.Txn_Posted_Date}}</td>
                        <td>{{data.ChequeNo}}</td>
                        <td>{{data.Description}}</td>
                        <td>{{data.Transaction_Amount(INR)}}</td>
                        <td>{{data.Available_Balance(INR)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->




