<div class="white r box-shadow-z0 m-b navbar-md" style="width: 125%;">
    <div class="navbar ng-scope" style="margin-left: 18px;">
        <a data-toggle="collapse" data-target="#navbar-0" class="navbar-item pull-left hidden-md-up">
        </a>
        <div class="navbar-item pull-left ng-binding"  id="pageTitle"><h3>Upload CSV File</h3></div>
        <ul class="nav navbar-nav pull-right m-l">
            <li class="nav-item dropdown">
            </li>      
        </ul>
    </div>
</div>
<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!--                <h1 style="text-align: center">Upload CSV File</h1>-->
                <hr>
                <div style="text-align: center;">
                    <form>
                        <input type="file" id="files" name="files[]" style="display: inline;" accept=".csv" required />
                        <button type="submit" (click)="handleFiles($event)" class="md-btn md-raised m-b-sm w-xs indigo">upload</button>
                    </form> 
                </div>
                <br>
                <!--                <div *ngIf="messageshow" class = "alert alert-success">{{successmessage}}</div>-->
                <br>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Transaction Id</th>
                        <th>Value date</th>
                        <th>ChequeNo</th>
                        <th>Description</th>
                        <th>Transaction Amount</th>
                        <th>Available Balance</th>
                        <th>Assign Cateogry</th>
                    </tr>
                    <tr *ngFor="let data of csvdata">
                        <td>{{data.No}}</td>
                        <td>{{data["Transaction_ID"]}}</td>
                        <td>{{data["Value_Date"]}}</td>
                        <td>{{data["ChequeNo"]}}</td>
                        <td>{{data["Description"]}}</td>
                        <td>{{data["Transaction_Amount(INR)"]}}</td>
                        <td>{{data["Available_Balance(INR)"]}}</td>
                        <td> <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Choose Cateogry
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let category of productcategory">
                                        <a (click)="addcategory(data._id,category.category)">{{category.category}}</a></li>
                                 
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->




