<div> <img *ngIf="logoutprocess==true" src="images/500.gif" class="hometemplate">
    <div class="container">
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <img src="images/logo.png" alt="Excellence technologies" width="80%">
                    </li>
                   <li *ngIf="user && user.profile.role=='admin'">
                        <a routerLink="dashboard">Dashboard</a>
                    </li> 
                    <li>
                        <a [routerLink]="['csvtimeline',current_month,current_year]">CSV Timeline </a>
                    </li>

                    <li *ngIf="user && user.profile.role=='admin'">
                        <a routerLink="csvjson">Upload CSV File</a>
                    </li>
                    <li *ngIf="user && user.profile.role=='admin'">
                        <a routerLink="addcategory">Add Category</a>
                    </li>
                    <li *ngIf="user && user.profile.role=='admin'">
                        <a routerLink="heads">Add Head</a>
                    </li>
                      <li *ngIf="user && user.profile.role=='admin'">
                        <a routerLink="accounts">Add Account</a>
                    </li>
                    <li *ngIf="user && user.profile.role=='admin'">
                        <a routerLink="adduser">Manage Users</a>
                    </li>
                    <li>
                        <a (click)="logout()">Logout</a>
                    </li>
                    <li><p style="color: #00BCD4;">Version 0.0.21</p></li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>