<div *ngIf="is_processed==1" class="categorymainbox">
    <a  *ngIf="show_category !=''" class="categoryboxshadow text-u-c btn btn-lab {{Cr_Dr == 'DR' ? 'info' : 'category-color-for-blue'}} " 
       data-toggle="modal"  href="#{{id}}">
       {{show_category[0].category}}
    </a>
<!-- this is the format for calling popup menu -->
<!-- Modal -->
    <div class="modal fade " id="{{id}}" role="dialog">
        <div class="modal-dialog modal-sm">
   <!--          Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-2x" aria-hidden="true">
                        </i>
                    </button>
                    <h5 class="modal-title">Choose from options to change category </h5>
                </div>
                <div class="modal-body">
                    <div class="dropdown">
                   <!--  *** parent category select *** -->
                    <div>
                        <button class="btn btn-primary dropdown-toggle dropdown-center" type="button" data-toggle="dropdown">
                            {{Choose_Cateogry}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let category of parent_category_list">
                                <a  (click)="ParentSelected(category)">{{category.category}}</a>
                            </li>
                        </ul>
                     </div>
                     <hr/>
                     <div *ngIf="!select_parent">   
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Choose Subcateogry
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let category1 of child_list">
                                <a data-dismiss="modal" (click)="changeCategory(id,category1._id)">{{category1.category}}</a>
                            </li>
                        </ul> 
                      </div>
                    </div>                              
                  </div>
               </div>
            </div>
        </div>
   </div>