<div *ngIf="loading" class="progress progress-striped active" style="overflow: visible;height: 10px;margin-bottom: 0px;">
   <div class="progress-bar info" style="width: 125%;">  </div>
</div>
<div class="white r box-shadow-z0 m-b navbar-md" style="max-width: 106%">
   <div class="navbar ng-scope" style="margin-left: 18px;">
      <a data-toggle="collapse" data-target="#navbar-0" class="navbar-item pull-left hidden-md-up">
      </a>
      <div class="navbar-item pull-left ng-binding" id="pageTitle">
         <h3>Completed Invoices</h3>
      </div>
      <div class="nav-item">
      </div>
   </div>
</div>
<div class="pos-rlt">
   <div class="calender ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty fc fc-ltr fc-unthemed">
      <div class="fc-toolbar">
         <div class="fc-left">
            <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left fc-corner-right" (click)="YearMinus()">
            <span class="fc-icon fc-icon-left-single-arrow" >
            </span>
            </button>
         </div>
         <div class="fc-right">
            <button type="button" class="fc-next-button fc-button fc-state-default fc-corner-left fc-corner-right" (click)="YearPlus()">
            <span class="fc-icon fc-icon-right-single-arrow" >
            </span>
            </button>
         </div>
         <div class="fc-center">
            <!--***** for format use {{ data_month | date :'MMMM y'}} ****-->
            <h2>FY {{currentyear % 100 }}-{{nextyear % 100}}</h2>
         </div>
      </div>
   </div>
</div>
<br/>
<!-- Page Content -->
<div id="page-content-wrapper">
   <div class="container-fluid">
      <div class="row">
         <div  *ngIf="monthwiselist" class="col-lg-12">
            <div class="table-responsive" *ngFor="let csvda of monthwiselist">
               <h3><i>{{csvda.key}}</i></h3>
               <table>
                  <tr>
                     <th>Transaction date</th>
                     <th>Transaction Id</th>
                     <th>Description</th>
                     <th>Invoice No</th>
                     <th>Invoice Description</th>
                     <th>Invoice link</th>
                     <th>Transaction Amount</th>
                  </tr>
                  <tr *ngFor="let data of csvda.value">
                     <td>{{data["Txn_Posted_Date"] | date:'d MMM y'}}</td>
                     <td>
                        <a [routerLink]="['/csvtemplate/csvtimeline',monthvalue,yearvalue]" [queryParams]="{comment_id: data._id}">{{data["Transaction_ID"]}}</a>
                     </td>
                     <td>{{data["Description"]}}</td>
                     <td>{{data["invoice_no"]}}</td>
                     <td>{{data["invoice_description"]}}</td>
                     <td>
                        <ul class="list-unstyled">
                           <li *ngFor="let link of data.linktodrive">
                              <a href="{{link.linkAddress}}" target="_blank"> Link </a>
                           </li>
                        </ul>
                     </td>
                     <td>{{data["Transaction_Amount(INR)"]}}</td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
