<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <div class="textinline">
                    <form>
                        <input type="file" id="files" name="files[]" style="display: inline;" accept=".csv" required />
                        <button type="submit" (click)="handleFiles($event)" class="md-btn md-raised m-b-sm w-xs indigo">
                            <i class="fa fa-upload" aria-hidden="true"></i> upload</button>
                    </form>
                </div>
                <br>
                <!-- code to show message alert  <div *ngIf="messageshow" class = "alert alert-success">{{successmessage}}</div>-->
                <br>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Transaction Id</th>
                        <th>Value date</th>
                        <th>ChequeNo</th>
                        <th>Description</th>
                        <th>Transaction Amount</th>
                        <th>Available Balance</th>
                        <th>Assign Cateogry</th>
                    </tr>
                    <!-- **** here we are sending row data to our rowinfo component ****-->
                    <tr other *ngFor="let rowdata of csvdata | async" [row]="rowdata">
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
