<!-- timeline page head timeline bar -->

<div *ngIf="uploadprocess" class="progress progress-striped active" style="overflow: visible;height: 10px;margin-bottom: 0px;">
<div class="progress-bar info" style="width: 125%;">  
</div>
</div>
<div id="page-content-wrapper" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
               <!--    code to show message alert  
 -->            <div *ngIf="messageshow == true" class = "alert alert-success">{{successmessage}}</div>
                <hr>
                <div class="textinline">
                    <form #uploadForm="ngForm" (ngSubmit)="handleFiles(uploadForm)">
                        <label for="files">Upload File</label>
                        <input type="file" id="files" name="files[]" style="display: inline;" accept=".csv" ngModel required />
                        <label for="account">Select Account</label>
                        <select name="account" ngModel required>
                            <option *ngFor="let account of accountlist | async" value="{{account ? account._id : 'No Category Found'}}">{{account.Account_no ? account.Account_no: 'No Category Found'}}</option>
                        </select>
                        <label for="DateFormat" style="margin-left: 35px;">Choose Date Format</label>
                         <select name="DateFormat" ngModel required>
                            <option value="MM-DD-YYYY h:mm:ss a">MM-DD-YYYY h:mm:ss a</option>
                            <option value="DD-MM-YYYY h:mm:ss a">DD-MM-YYYY h:mm:ss a</option>
                        </select>
                        <br>
                        <br>
                        <button type="submit" class="md-btn md-raised m-b-sm w-xs indigo">
                          <i class="fa fa-upload" aria-hidden="true"></i> upload</button>

                    </form>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
